<div class="container">
  <h1>Item Details</h1>

  <%= render @item %>
  <strong>Description:</strong>
  <%= @item.description %>

  <% if @item.image.attached? %>
    <%= image_tag item.image, class: "card-img-bottom mb-3" %>
  <% else %>
    <%# Placeholder image for testing purposes %>
    <%= image_tag "placeholderRadio.png", size: "25x", class: "mx-auto d-block" %>
  <% end %>

  <div>
    <%= link_to "Edit this item", edit_item_path(@item) %>
    |
    <%= link_to "Delete this item", delete_item_path(@item) %>
    |
    <%= link_to "Back to items", items_path %>
  </div>
</div>
